<cover-box>
  <div>
    <slot/>
  </div>
  <style type='scss'>
    :host {
      z-index: 100;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, .5);

      >div {
        display: inline-block;
        min-width: 300px;
        margin-top: 20px;
        padding: 5px;
        text-align: left;
        background-color: var(--color-background);
      }
    }
  </style>
</cover-box>
