<page-colors>
  <page-layout>
    <div class='input-panel'>
      <div>Color Tag</div>:
      <div>
        &nbsp;#<input type="text" id="Clr" style='width: 100px;' value='0080ff80' maxlength=8 onkeypress={KeyboardTrigger} data-format='0'/> >
        <span>{state.CrntRGBA}</span><br/>
        or<br/>
        R:<input id="R" type="number" min='0' max='255' value='255' onkeypress={KeyboardTrigger} data-format='1'/>,
        G:<input id="G" type="number" min='0' max='255' value='128' onkeypress={KeyboardTrigger} data-format='1'/>,
        B:<input id="B" type="number" min='0' max='255' value='0'   onkeypress={KeyboardTrigger} data-format='1'/>,
        A:<input id="A" type="number" min="0" max="1"   value='1'   onkeypress={KeyboardTrigger} data-format='1'/>
      </div>
      <div>
        <button onclick={ColorTagAdd} data-format='0'>Add</button><br/><br/>
        <button onclick={ColorTagAdd} data-format='1'>Add</button>
      </div>
      <button onclick={ColorTagsClear}>Clear</button>
    </div>
    <hr/>
    <ul class='output-box'>
      <li each={Clr in state.Clrs}>
        <span style='color: {Clr.Clr}; background: {Clr.Clr};'>{Clr.Clr}</span>
        <span style='border-radius: 10px; color: #ffffff; background: {Clr.Clr};'>{Clr.Clr16}</span>
        <span style='border-radius: 10px; color: #000000; background: {Clr.Clr};'>{Clr.Clr16}</span>
        <span style='text-shadow: 3px 3px 2px {Clr.Clr}; box-shadow: 3px 3px 4px {Clr.Clr}; color: {Clr.Clr}; background: #c0c0c0;'>{Clr.Clr16}</span>
        <span style='text-shadow: 3px 3px 2px {Clr.Clr}; box-shadow: 3px 3px 4px {Clr.Clr}; color: #ffffff; background: #c0c0c0;'>{Clr.Clr16}</span>
        <span style='text-shadow: 3px 3px 2px {Clr.Clr}; box-shadow: 3px 3px 4px {Clr.Clr}; color: #000000; background: #c0c0c0;'>{Clr.Clr16}</span>
      </li>
    </ul>
  </page-layout>
  <style>
    :host {
      .input-panel {
        display: flex;
        gap: 20px;

        input { width: 70px; }
      }

      ul.output-box {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
          margin: 5px 0px;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAAXNSR0IArs4c6QAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB9sGHhAhHuEdGLAAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAI0lEQVQY02P8//8/AxK4ePEiMpeJAS+gqTQLmlv09fUHi9MAN8AIhsxMmMQAAAAASUVORK5CYII=);

          >span {
            display: inline-block; margin: 5px; border: 2px solid; padding: 1px; min-width: 100px; text-align: center;

            &:first-child { width: 200px; }
          }
        }
      }
    }
  </style>
  <script>
    import pageLayout from './page-layout.riot';

    export default {
      components: { pageLayout },

      state: {
        Clrs: [],
        CrntRGBA: 'rgba(???, ???, ???, ?)'
      },

      /* convert CSS Color code from hex to RGBA format.
        @ color string in hex format.
        < CSS color code with RGBA format. */
      Color16ToRGBA (string) {
        if (string.charAt(0) === '#') { string = string.substr(0); }

        let b;
        let g;
        let r;
        let a;

        if (string.length < 6) {
          r = parseInt(string.charAt(0) + '0', 16).toString();
          g = parseInt(string.charAt(1) + '0', 16).toString();
          b = parseInt(string.charAt(2) + '0', 16).toString();
          a = '1';
        }
        else {
          r = parseInt(string.substr(0, 2), 16).toString();
          g = parseInt(string.substr(2, 2), 16).toString();
          b = parseInt(string.substr(4, 2), 16).toString();
          a = (parseInt(string.substr(6, 2), 16) / 256).toString() || '255';
        }

        return `rgba(${r}, ${g}, ${b}, ${a})`;
      },

      /* convert CSS Color code from RGB to hex format.
        < CSS color code with hex format. */
      ColorRGBATo16 (r, g, b, a) {
        r = parseInt(r, 10).toString(16).padStart(2, '0');
        g = parseInt(g, 10).toString(16).padStart(2, '0');
        b = parseInt(b, 10).toString(16).padStart(2, '0');
        a = Math.round(parseFloat(a) * 255).toString(16).padStart(2, '0');

        return `#${r}${g}${b}${a}`;
      },

      ColorTagAdd (event) {
        const format = parseInt(event.target.dataset.format, 10);

        let color
        let color16
        let currentRGBA = this.state.CrntRGBA;

        if (format === 1) {
          const r = this.$('#R').value;
          const g = this.$('#G').value;
          const b = this.$('#B').value;
          const a = this.$('#A').value;

          color = `rgba(${r}, ${g}, ${b}, ${a})`;
          color16 = this.ColorRGBATo16(r, g, b, a);
        }
        else {
          color16 = this.$('#Clr').value.toLowerCase();

          color = this.Color16ToRGBA(color16);
          currentRGBA = color;

          color16 = '#' + color16;
        }

        this.state.Clrs.push({ Clr: color, Clr16: color16 });
        this.update({ Clrs: this.state.Clrs, currentRGBA });
      },

      ColorTagsClear () {
        this.update({ Clrs: [] });
      },

      KeyboardTrigger (event) {
        if (event.keyCode !== 13) { return 0; }

        this.ColorTagAdd(event);
      }
    }
  </script>
</page-colors>
