/*==== Normal Element ================================================================================================*/

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: monospace;
  color: #202020;
}

div, header, footer, nav, li, td, button, input[type=button] {
  border-color: #808080;
  border-radius: 3px;
  border-style: solid;
  border-width: 0;
}

a, input, option, button {
  font-size: 16px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button, input[type=button] {
  padding: 0;
  border-width: 1px;
  background-color: transparent;
  cursor: pointer;
}

/*==== Structure =====================================================================================================*/

#Base {
  max-width: 1000px;
  margin: 0 auto;
}

#Main {
  position: relative;
  min-height: 600px;
  padding: 5px;
}

footer {
  border-top-width: 1px;
  text-align: center;
}

/*==== Class =========================================================================================================*/

.Block {
  display: inline-block;
  vertical-align: top;
}

/*====================================================================================================================*/