/*==== Normal Element ================================================================================================*/

body
{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: monospace;
  color: #202020;
}

a, input, option, button {
  font-size: 16px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

div, span {
  border: 0px solid #202020;
}

ul, ol {
  margin: 5px 0px 10px 0px;
}

/*==== Structure =====================================================================================================*/

#Base {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: relative;
  border-bottom: 1px solid;

  h2 {
    display: inline-block;
    margin: 0;
    font-size: 48px;
    font-style: italic;
  }

  > menu {
    z-index: 1;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    margin-bottom: -1px;
    padding: 5px;
    border: 1px solid;
    border-right: 0px;
    border-bottom-color: #ffffff;
  }
}

#Main {
  position: relative;
  min-height: 600px;
  padding: 5px;
}

footer {
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
}

/*==== Class =========================================================================================================*/

.Block {
  display: inline-block;
  vertical-align: top;
}

/*====================================================================================================================*/