$border: 1px solid #d0d0ff;

@media screen and (min-width: 1000px) {
  body {
    position: relative;
    width: 1000px;
    margin: 0 auto;
  }
}

body {
  margin: 0 auto;
  padding: 5px;
  background-color: #f8f8f8;

  >header { font-style: italic; }

  >main { margin-bottom: 60px; }

  >footer {
    z-index: -1;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    background: #ffffff;
  }
}

.Btn, .Btn>td {
  border: $border;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  background-color: #f0f0ff
}

.Btn { margin: 3px; }

.Btn:not(tr) {
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.Pymnt {
  position: relative;

  >div {
    position: absolute;
    right: 0;
  }

  .TbBx .Tb {
    margin: 3px;
    border: $border;
    border-radius: 3px;
    padding: 3px;
    color: #c0c0c0;

    &.Pckd {
      border: 0;
      border-bottom: $border;
      color: #000000;
      cursor: default;
    }
  }

  .Edtr {
    &.Bckbrd {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, .5);
    }

    .FrntBrd {
      display: inline-block;
      width: 300px;
      margin-top: 20px;
      border-radius: 3px;
      padding: 5px;
      text-align: left;
      background-color: white;

      >div:first-child {
        font-weight: bold;
        font-size: 1.2rem
      }

      >div:last-child {
        text-align: right;
      }
    }
  }

  .ByrLst {
    display: block;
    margin-top: 5px;
  }

  .ItmLst {
    margin-top: 5px;
    width: 100%;

    .Itm {
      &:not(:first-child) { cursor: pointer; }
    }
  }

  .Chk {
    td { text-align: right; }

    th:first-child, td:first-child { text-align: center; }

    tfoot>tr>td { border-top: 1px solid; }
  }
}